<!--
<div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
  <h1>{{ valor | number }}</h1>
  <h1>{{ obj | json }}</h1>
</div>

<p-button label="Cambiar Nombre" icon="pi pi-spin pi-cog" iconPos="right" styleClass="p-button-help" (click)="mostrarNombre()"></p-button>

<p-card header="Title" [subheader]="nombre | titlecase">
  <p class="m-0">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
      quas!
  </p>
</p-card> -->

<app-menu></app-menu>
<router-outlet></router-outlet>
